# See https://atom.io/docs/latest/hacking-atom-package-word-count#menus for more details
'context-menu':
  'atom-text-editor': [
    {
      'label': 'Toggle Tokamak'
      'command': 'tokamak:toggle'
    }
  ]
'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'Tokamak'
      'submenu': [
        {
          'label': 'Toggle'
          'command': 'tokamak:toggle'
        }
        {
          'label': 'Create Cargo Binary Project'
          'command': 'tokamak:create-cargo-binary'
        }
        {
          'label': 'Create Cargo Library Project'
          'command': 'tokamak:create-cargo-library'
        }
        {
          'label': 'Build'
          'command': 'tokamak:build'
        }
        {
          'label': 'Clean'
          'command': 'tokamak:clean'
        }
        {
          'label': 'Rebuild'
          'command': 'tokamak:rebuild'
        }
        {
          'label': 'Test'
          'command': 'tokamak:test'
        }
        {
          'label': 'Format Code'
          'command': 'tokamak:format-code'
        }
        {
          'label': 'Benchmark'
          'command': 'tokamak:bench'
        }
      ]
    ]
  }
]
