# Keybindings require three things to be fully defined: A selector that is
# matched against the focused element, the keystroke and the command to
# execute.
#
# Below is a basic keybinding which registers on all platforms by applying to
# the root workspace element.

# For more detailed documentation see
# https://atom.io/docs/latest/behind-atom-keymaps-in-depth
'.platform-darwin atom-workspace':
  'ctrl-alt-a': 'tokamak:about'
  'ctrl-alt-p': 'tokamak:create-project'
  'ctrl-alt-l': 'tokamak:create-cargo-library'
  'ctrl-alt-b': 'tokamak:create-cargo-binary'
  'ctrl-alt-r': 'tokamak:run'
  'ctrl-alt-s': 'tokamak:test'
  'ctrl-alt-e': 'tokamak:build'
  'ctrl-alt-c': 'tokamak:clean'
  'ctrl-alt-w': 'tokamak:rebuild'
  'ctrl-alt-m': 'tokamak:format-code'
  'ctrl-shift-alt-m': 'tokamak:toggle-auto-format-code'
'.platform-linux atom-workspace, .platform-win32 atom-workspace':
  'ctrl-alt-a': 'tokamak:about'
  'ctrl-alt-p': 'tokamak:create-project'
  'ctrl-alt-l': 'tokamak:create-cargo-library'
  'ctrl-alt-b': 'tokamak:create-cargo-binary'
  'ctrl-alt-r': 'tokamak:run'
  'ctrl-alt-s': 'tokamak:test'
  'ctrl-alt-e': 'tokamak:build'
  'ctrl-alt-c': 'tokamak:clean'
  'ctrl-alt-w': 'tokamak:rebuild'
  'ctrl-alt-m': 'tokamak:format-code'
  'ctrl-shift-alt-m': 'tokamak:toggle-auto-format-code'
